.header-bg{
  background: #2c70ff;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0;
}

.header-logo a{
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu a {
  font-size: 1.25rem;
  color: #ffffff;
  padding: 10px;
}

.header-menu a:hover{
  color: #122ab2;
}