.sobre{
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info{
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h2{
  font-size: 3rem;
  margin-bottom: .5rem;
}

.sobre-info p{
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
}

.sobre-imagens{
  flex: 1 1 160px;
  margin: 0 10px;
}
